/* custom font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.display-none{
    display: none;
}

/* custom media query */
@media (min-width: 992px) { 
    .custom-width{
        width: 60%;
    }
}
