/* custom font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

#spinner, #not-found, #show-all-button, #show-less-button{
    display: none;
}

/* custom media query */
@media (min-width: 992px) { 
    .custom-width{
        width: 60%;
    }
    .details-width{
        width: 75%;
    }

}
@media (max-width: 576px) { 
    .details-width{
        width: 100%;
    }

}
